@charset "UTF-8";

/* common */

/* default text color */
* {
  color: #080000;
}

/* link */
a {
  color: #808080;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* wrap the body */
.wrap {
  background-color: #fdfdfd;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 5% 150px 5%;
}


.site-title {
  color: #080000;
  font-family: Menlo, Consolas, monospace;
  font-size: 42px;
}

footer {
  margin-top: 100px;
}

/* margin between the site title and entry list or article */
header {
  margin-bottom: 50px;
}

div.social-icons {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

/* single article page (single.html) */
/* article title */
h2.article-title {
  font-family: Menlo, Consolas, monospace;
  font-size: 30px;
}
div.article-date {
  font-family: Menlo, Consolas, monospace;
  text-align: right;
}
h2.article-title:before {
  content: "# ";
  font-family: Menlo, Consolas, monospace;
  color: #808080;
}

/* h2 elements in content */
h2:not(.article-title) {
  margin-top: 2.5em;
}

h2, h3, h4 {
  font-family: Menlo, Consolas, monospace;
}
h2:before {
  content: "## ";
  font-family: Menlo, Consolas, monospace;
  color: #808080;
}
h3:before {
  content: "### ";
  font-family: Menlo, Consolas, monospace;
  color: #808080;
}
h4:before {
  content: "#### ";
  font-family: Menlo, Consolas, monospace;
  color: #808080;
}

code {
  font-family: Menlo, Consolas, monospace;
}

blockquote {
  position: relative;
  margin: 2em 0;
  padding: 0.1em 0.1em 0.1em 1.2em;
  font-size: 0.9em;
  border-left: 10px solid #cccccc;
}

ul {
  list-style-type: none;
}
ul li:before {
  content: '- ';
}

table {
  border-collapse: collapse;
  border: 1px solid #080000;
  margin: 2em 0;
}
th, td {
  border: 1px solid #080000;
  padding: 0.5em;
}


/* Top page, list of entries */
li.entry {
  list-style: none;
  margin: 24px auto;
}
li.entries:before {
  content: "# ";
  font-family: Menlo, Consolas, monospace;
  color: #808080;
}
a.entry-title {
  font-family: monospace;
  font-size: 21px;
}
div.entry-date {
  font-size: 14px;
  font-family: Menlo, Consolas, monospace;
}

