{{ partial "html_head" . }}
{{ partial "site_top" . }}
<main>
<article>
  <h2 class="article-title">{{ .Title }}</h2>
  <div class="article-date"><time>{{ .Date.Format (default "2006-01-02" .Site.Params.DateForm) }}</time></div>
  <article class="article-content">
    {{ .Content }}
  </article>

  <div class="article-tags">
    {{ range .Params.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
    {{ end }}
  </div>


  <aside>
    {{ partial "share" . }}
  </aside>

  {{ if .Site.DisqusShortname }}
  {{ template "_internal/disqus.html" . }}
  {{ end }}
</article>
</main>

{{ partial "site_bottom" . }}
{{ partial "html_tail" . }}
